.quiz-details {
  max-width: 600px;
  margin: auto;
}

.quiz-title {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.question-container {
  margin-bottom: 8vh;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
}

.options-list {
  list-style-type: none;
  padding: 0;
}

.option {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.option:hover {
  background-color: #d9d9d9;
}
